body {
  font-size:15px;
  line-height:1.2;
  font-family: 'Exo', sans-serif;
  color: @mainText;
}
.display {
  font-family: 'Alfa Slab One', cursive;
}
.transition {
  transition: all 0.5s ease;
}

.page-header {
  border-bottom:1px solid @mainText;
}
